.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid var(--brown);
  border-radius: 0.5em;

  width: 80%;

  gap: 1.5rem;

  padding: 1.5rem;
}
.card-image {
  overflow: hidden;

  margin: auto;
  display: flex;
  align-items: center;
}
/* .card-image img {
} */

.card-title {
  font-size: 1.6rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  .card {
    width: 100%;

    gap: 1rem;
  }

  .card-title {
    line-height: 1.6rem;
    text-align: center;
    letter-spacing: 0px;
    font-family: var(--ff);
  }
}
