.categories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 2rem 0;
}

.categories-button {
  flex: 1.3;
}
.categories-card_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 3rem 0;

  gap: 1.5rem;

  flex: 3;
}

@media (min-width: 768px) {
  .categories-container {
    flex-direction: row;

    gap: 3rem;
  }

  .categories-card_container {
    flex-direction: row;
    align-items: stretch;

    padding: 0;

    gap: 1rem;
  }
}
