.header-section {
  position: relative;

  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 0.3rem;

  forced-color-adjust: none;
}

.header-logo {
  width: 50px;
}

.header-logo img {
  object-fit: contain;
}

.header-title {
  display: flex;
  flex-direction: column;

  gap: 0.3rem;

  font-size: 1.5rem;

  letter-spacing: -1px;
  line-height: 1rem;
}

.header-wrapper {
  width: 100%;
  height: 0px;
  position: absolute;
  top: -100vh;
  left: 0;
}

.header-wrapper-active {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  background-color: #0000003e;
  transition: 1s ease;
}

.header-nav {
  width: 100%;

  color: var(--color-text);
  background-color: var(--color-bg);
}

.header-list {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-item {
  height: 100%;

  display: flex;
  justify-content: center;

  text-align: center;
  align-items: center;
  padding: 0.6rem 0;
  border-bottom: 1px solid rgb(196, 183, 183);
}

.header-nav-desktop {
  display: none;
}

@media (min-width: 768px) {
  .header-burger {
    display: none;
  }
  .header-wrapper {
    top: -200px;
  }

  .header-nav-desktop {
    display: block;
  }
  .header-list-desktop {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
  }
}
